
<div class="jumbotron">
    <h1 class="display-4 text-center">Submit Questions</h1>
    <form #ngForm autocomplete="off">
    <div class="form-group">
        <label>Question</label>
        <input name="Question" #Question="ngModel" [(ngModel)]="service.formData.Qn" class="form-control">
    </div>
    <div class="form-group">
        <label>Option 1</label>
        <input name="Option1" #Option1="ngModel" [(ngModel)]="service.formData.Option1" class="form-control">
    </div>
    <div class="form-group">
        <label>Option 2</label>
        <input name="Option2" #Option2="ngModel" [(ngModel)]="service.formData.Option2" class="form-control">
    </div>
    <div class="form-group">
        <label>Option 3</label>
        <input name="Option3" #Option3="ngModel" [(ngModel)]="service.formData.Option3" class="form-control">
    </div>
    <div class="form-group">
        <label>Option 4</label>
        <input name="Option4" #Option4="ngModel" [(ngModel)]="service.formData.Option4" class="form-control">
    </div>
    <div class="form-group">
        <label>Answer</label>
        <input name="Answer" #Answer="ngModel" [(ngModel)]="service.formData.Answer" class="form-control">
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-lg btn-block">Save</button>
    </div>
</form>
    <div class="row">
        <div class="col-md-5">
            <app-question></app-question>
        </div>
        <div class="col-md-7">
            <app-question-list></app-question-list>
        </div>
    </div>
</div>



